@charset "utf-8";
/* Body */
section {
	min-height: 100vh;
}
/* Navigation */
hr {
	width: 100px;
	height:1px;
	color: #818181;
	background-color: #818181;
	margin-left:10px;
}
.navbar-dark {
	background: transparent!important;
}
.sidebar {
	z-index: 2;
	height: 100%;
	width: 0;
	position: fixed;
	top: 0;
	right: 0;
	background-color: #111;
	overflow-x: hidden;
	transition: 0.5s;
	padding-top: 60px;
}
.sidebar a {
	padding: 20px 8px 20px 32px;
	text-decoration: none;
	font-size: 25px;
	color: #818181;
	display: block;
	transition: 0.3s;
	font-family: 'Khula', sans-serif;
	white-space: nowrap;
}
.sidebar a:hover {
	color: #f1f1f1;
	text-decoration: none;
}
.sidebar .closebtn {
	position: absolute;
	top: 0;
	right: 25px;
	font-size: 46px;
	margin-left: 50px;
}
.openbtn {
	mix-blend-mode: exclusion;
	font-size: 46px;
	right: 0;
	top: 0;
	cursor: pointer;
	background-color: transparent;
	color: white;
	padding: 10px 30px;
	border: none;
	position: fixed;
	z-index: 1;
}

.logo {
	z-index: 2;
	border-radius: 50%;
	width: 60px;
	padding: 5px;
	position: fixed;
	top: 0;
	margin:19px 25px;
}
nav {
	mix-blend-mode: exclusion;
	position: fixed;
	top: 0;
	z-index: 1;
	width: 100%;
	padding: 15px 50px;
}

nav ul li {
	color: black;
	font-size: 18px;
	transition: all 0.3s linear;
	display: inline;
	padding: 0 10px;
	font-family: 'Khula', sans-serif;
}
ul li a {
	color: white;
	text-decoration: none;
}
ul li a:hover {
	color: white;
	text-decoration: none;
}
/* About Section */
.about-header {
	font-size: 3.5em;
	white-space: nowrap;
}
#about {
	background-repeat: no-repeat;
	background-size: cover;
	font-family: 'Khula', sans-serif;
	color: #FFFFFF;
	padding: 15% 36% 50px 15%;
	background-color: #140021;
	line-height: 2;
}
.tagline {
	margin-top: 20px;
	font-size: 1.4em;
}
/* Technologies Section */
.technologies-more {
	display: none;
	font-size: 0.8em;
	padding: auto;
	flex-direction: row;
	align-items: center;
	height: 100vh;
	padding: 0 100px;
}
.technologies-more .card .card-body {
	margin: 15px;
}
.technologies-more .card .card-body a {
	text-align: right;
	cursor: pointer;
}

#default-technologies {
	display:flex;
	align-items: center;
	height:100vh;
}
#technologies {
	background: gray;
	padding:0 14%;
	font-family: 'Khula', sans-serif;
	background-size: cover;
}
#sensor-tech-card {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	padding: 20px;
	height: 70vh;
	margin: 0 50px;

}
#magnetic-imaging-card {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	padding: 20px;
	height: 70vh;
	margin: 0 50px;
}
.card-body {
	font-size: 1.6em;
}
.card-title {
	font-size: 1.8em;
	letter-spacing: -0.09em;
	white-space: nowrap;
}
.card-body .btn {
	background: #580060;
	color: white;
	margin: 0 30%;
	white-space: nowrap;
	height: 55px;
	min-width: 160px;
	text-align: center;
	line-height: 50px;
	font-size: 1em;
}
.card-body .btn:hover {
	background: #2e0033;
	color: white;
}
/* benefits */
#more-benefits-text {
	display: none;

}
#benefits {
	padding: 6% 10% 6% 6%;
	font-family: 'Khula', sans-serif;
	background: white;
	background-size: 100vw 100vh;
}
.text-row {
	text-align: justify;
	font-weight: lighter;
	line-height: 25px;
	margin-left: 10%;
	margin-right: 8%;
	font-size: 1.5em;
	line-height: 1.4em;
}
.benefits-list {
	margin: 10% 5% 10% 0;
}
.benefits-list li {
	list-style: none;
	padding: 1em 0;
	font-size: 1.5em;
	text-align: right;
	cursor: pointer;
}
.benefits-list li img {
	width: 35px;
}
.header {
	margin-left: 10%;
	color: rgb(56, 96, 0);
	font-weight: bold;
}
.more {
	color: #580060;
	font-weight: bold;
	cursor: pointer;
}
.benefits_container {
	margin: 5%;
}
.text-column {
	text-align: left;
	font-weight: lighter;
	line-height: 1.5em;
	margin: 15% 15% 10% 1%;
	text-indent: 0px;
	font-size: 2.2em;
	border-left: 10px solid rgba(56, 96, 0, 0.7);
	padding-left: 15px;
}

.text-column-small {
	color: black;
	font-weight: normal;
	font-size: 0.8em;
	white-space: normal;
	width: 100%;
	display: none;
}
/* Team */
.linkedin-link {
	font-size: 0.8em;
	color:#4875B4;
}
.linkedin-link:hover {
	text-decoration:none;
	color:#4875B4;
}
.team-header {
		color: white;
		width: 240px;
}
#team {
	background: #100016;
	padding: 5% 3% 2% 8%;
}

#core-team-option {
	padding-top: 3%;
}
#advisory-board-option {
	display: flex;
	padding-top: 3%;
}
.team-subheader h3 {
	color: rgb(56, 96, 0);
	padding-left: 10px;
	padding-right: 10px;
	width: wrap;
}
.team-subheader {
	padding-top:30px;
	position:relative;
	display:inline-block;
}

.member-info {
	color: white;
	font-size: 1.4em;
}

.team-name {
	padding-top: 20px;
}
.member-img {
	width: 120px;
	height: 120px;
	display: block;
	border-radius: 50%;
}

/* Contact Us info */

.contact-container {
	display:flex;
	justify-content: center;
	align-items: center;
	height:100vh;
	background: #e0e5dc;
}
.contact-info-container {
	display:flex;
	flex-direction:column;
	justify-content: center;
	padding-left: 30px;
	white-space: nowrap;

}

.footer-header {
	margin: 0 5% 5% 0;
	color: rgb(56, 96, 0);
}
#map {
	border-radius: 5px;
	background: black;
	height: 500px;
	width: 600px;
}
.contact-info {
	font-weight: 300;
	line-height: 1.5em;
	margin: 0 5% 5% 0;
	font-size: 2em;
	font-family: 'Khula', sans-serif;
}
.copyright {
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
	color: black;
	font-weight: normal;
	letter-spacing: 2px;
	border-top: 1px solid gray;
	font-family: 'Khula', sans-serif;
}
/* Mobile */
@media (max-width: 320px) {
	/* benefits */
	.text-row {
		margin-left: 5%;
		margin-right: 5%;
		font-size: 1em;
		line-height: 1em;
	}
	.text-column {
		display: none;
	}
	.text-column-small {
		display: block;
		font-size: 1.2em;
	}
	.benefits-list li {
		padding: 0.88em 0;
		font-size: 1.3em;
	}
	/* technologies*/
	.sensor-tech-card {
		font-size: 0.80em;
	}
	.magnetic-imaging-card {
		font-size: 0.80em;
	}
	.card-body .btn {
		margin: 0 20%;
	}
	/* footer */
	#map {
		height: 250px;
		width: 330px;
		margin: 0 auto;
	}
	.contact-info {
		text-align: center;
		font-size: 1.2em;
	}
	.footer-header {
		text-align: center;
	}
	#contact {
		background-color: #fffdfc;
		padding: 30% 5% 2% 5%;
	}
	/* team */
	.member-info {
		padding: 0px;
		font-size: 1em;
		overflow: hidden;
	}
	.first-member-info {
		margin: 8% 8% 3% 8%;
	}
	.member-img {
		width: 100px;
		height: 100px;
		corner-radius: 50%;
	}
	.middle-member-info {
		margin: 0 8% 3% 8%;
	}
	.last-member-info {
		margin: 0 8% 13% 8%;
	}
	.team-caption {
		margin: 70px 0 0 0;
	}
	.carousel {
		padding: 0px;
	}
	/* navigation*/
	.logo {
		width: 100%;
		text-align: center;
		margin-top: 13px;
		margin-right: 0px;
		margin-bottom: 0px;
		margin-left: 0px;
		border-radius: 50%;
	}

	nav ul li {
		margin-top: 0px;
		margin-right: 0px;
		margin-bottom: 0px;
		margin-left: 0px;
		width: 100%;
		text-align: center;
	}
	.footer_column {
		width: 100%;
		margin-top: 0px;
	}
	.banner {
		background-color: #2D9AB7;
		background-image: none;
	}
	.about-header {
		padding-left: 10px;
		padding-right: 10px;
		line-height: 22px;
		text-align: center;
	}
}
/* Small Tablets */
@media (min-width: 321px)and (max-width: 767px) {
	.logo {
		text-align: center;
		margin-top: 13px;
		margin-right: 0px;
		margin-bottom: 0px;
		margin-left: 0px;
		color: #043745;
	}

	nav ul li {
		margin-top: 0px;
		margin-right: 0px;
		margin-bottom: 0px;
		margin-left: 0px;
		width: 100%;
		text-align: center;
		padding-top: 8px;
		padding-bottom: 8px;
	}
	.text-column {
		width: 100%;
		text-align: left;
		padding-top: 0px;
		padding-right: 0px;
		padding-bottom: 0px;
		padding-left: 0px;
	}
	.footer_column {
		width: 100%;
		margin-top: 0px;
	}
	.banner {
		padding-left: 20px;
		padding-right: 20px;
	}
	.footer_column {
		width: 100%;
	}
}
/* Smaller Desktops */
@media (min-width: 500px) and (max-width: 1100px) {
	/* navigation */

	/* technologies */
	.technologies-more {
		font-size: 0.7em;
		padding: 50px;
		height: auto;
	}
	.card-title {
		white-space: normal;
	}
	#sensor-tech-card {
		padding: 0px;
		margin: 50px 65px;
		height:auto;
	}
	#magnetic-imaging-card {
		padding: 0px;
		margin: 50px 65px;
		height:auto;
	}
	.card-body {
		font-size: 1.5em;
	}

	#technologies {
		padding: 0 0.5%;
	}
	#default-technologies {
		height:auto;
	}
	.card-body .btn {
		margin: 0 auto;
	}
	/* contact us */
	.contact-container {
		flex-direction: column-reverse;
		align-items: flex-start;
		padding-left:15%;
	}
	.contact-info-container {
		justify-content: flex-start;
		padding:0;
	}
	#map {
		height: 350px;
		width: 500px;
	}

	/* Benefits */
	.text-row {
		font-size: 1.1em;
		text-align: left;
	}
	.text-column {
		display: none;
	}
	.text-column-small {
		display: block;
		text-align: left;
	}
	.benefits-list li {
		padding: 0.88em 0;
		font-size: 1.5em;
		text-align: left;
		white-space: nowrap;
	}

  /* About */
	#about {
		padding: 25% 20% 10px 10%;
	}
	.about-header {
		font-size: 2.7em;
		white-space: normal;
	}
	/* team */
	.team-name {
		font-size: 0.8em;
	}
	.team-text {
		font-size: 0.7em;
	}
	.member-img {
		width: 100px;
		height:100px;
	}

}
/* Small Desktops */
@media (min-width: 1101px) and (max-width: 1199px) {
	/* contact us */
	.contact-container {
		flex-direction: column-reverse;
		align-items: flex-start;
		padding-left: 30%;

	}
	.contact-info-container {
		justify-content: flex-start;
		padding:0;
	}
	/* technologies */
	.technologies-more {
		font-size: 0.7em;
	}
	#sensor-tech-card {
		padding: 20px;
		margin: 50px 200px;
	}
	#magnetic-imaging-card {
		padding: 20px;
		margin: 50px 200px;
	}
	.card-body {
		font-size: 1.8em;
	}
	#technologies {
		padding: 0 1%;
	}
	#default-technologies {
		height:auto;
	}
	.card-body .btn {
		margin: 0 25%;
	}
	/* benefits */
	.benefits_container {
		margin: 2%;
	}
	.text-row {
		font-size: 1.1em;
	}
	.text-column {
		display: none;
	}
	.text-column-small {
		display: block;
		text-align: left;
	}
	.benefits-list {
		text-align: left;
	}
	.benefits-list li {
		padding: 0.88em 0;
		font-size: 1.5em;
		text-align: left;
	}
	.benefits-list li img {
		width: 25px;
	}
	/* About */
	#about {
		padding: 20% 20% 50px 15%;
	}
	/* team */
	.member-info {
		padding: 0px;
	}

	.member-img {
		width: 100px;
		height: 100px;
	}
	.team-name {
		font-size: 0.9em;
	}
	.team-text {
		font-size: 0.8em;
	}
	.team-caption {
		margin: 70px 0 0 0;
	}
}
/* Bigger Desktops */
@media (min-width: 1200px) and (max-width: 1450px) {

	/*technologies */
	.technologies-more {
		font-size: 0.7em;
	}
	#sensor-tech-card {
		padding: 5px 10px;
		margin: 0 20px;
	}
	#magnetic-imaging-card {
		padding: 5px 10px;
		margin: 0 20px;
	}
	.sensor-tech-card {
		font-size: 0.75em;
	}
	.magnetic-imaging-card {
		font-size: 0.75em;
	}
	#technologies {
		padding: 0 5%;
	}
	.card-title {
		white-space: normal;
	}
	/* Benefits */
	.benefits-list li {
		padding: 1em 0;
		font-size: 1.5em;
	}
	.text-row {
		font-size: 1.1em;
	}
	.text-column {
		font-size: 1.5em;
	}
	/* About */
	#about {
			padding: 20% 20% 50px 15%;
	}
}

/* Even Bigger Desktops */
@media (min-width: 1450px) and (max-width: 1800px) {
	/* Technologies */
	#technologies {
		padding:0 6%;
	}
	#sensor-tech-card {
		padding: 20px 10px;
	}
	#magnetic-imaging-card {
		padding: 20px 10px;
	}

}
/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
	.sidebar {
		padding-top: 15px;
	}
	.sidebar a {
		font-size: 18px;
	}
}
