@charset "utf-8";
/* Body */
section {
	min-height: 100vh;
	min-width: 100vw;
}
.row {
	padding:0!important;
	margin:0!important;
}
/* Navigation */
hr {
	width: 100px;
	height:1px;
	color: #818181;
	background-color: #818181;
	margin-left:10px;
}
.navbar-dark {
	background: transparent!important;
}
.sidebar {
	z-index: 2;
	height: 100%;
	width: 0;
	position: fixed;
	top: 0;
	right: 0;
	background-color: #111;
	overflow-x: hidden;
	transition: 0.5s;
	padding-top: 60px;
}
.sidebar a {
	padding: 20px 8px 20px 32px;
	text-decoration: none;
	font-size: 25px;
	color: #818181;
	display: block;
	transition: 0.3s;
	font-family: 'Roboto', sans-serif;
	white-space: nowrap;
}
.sidebar a:hover {
	color: #f1f1f1;
	text-decoration: none;
}
.sidebar .closebtn {
	position: absolute;
	top: 0;
	right: 25px;
	font-size: 46px;
	margin-left: 50px;
}
.openbtn {
	mix-blend-mode: exclusion;
	font-size: 46px;
	right: 0;
	top: 0;
	cursor: pointer;
	background-color: transparent;
	color: white;
	padding: 10px 30px;
	border: none;
	position: fixed;
	z-index: 1;
}

.logo {
	z-index: 2;
	border-radius: 50px;
	width: 60px;
	padding: 5px;
	position: fixed;
	top: 0;
	margin:19px 25px;
}
nav {
	mix-blend-mode: exclusion;
	position: fixed;
	top: 0;
	z-index: 1;
	width: 100%;
	padding: 15px 50px;
}

nav ul li {
	color: black;
	font-size: 18px;
	transition: all 0.3s linear;
	display: inline;
	padding: 0 10px;
	font-family: 'Roboto', sans-serif;
}
ul li a {
	color: white;
	text-decoration: none;
}
ul li a:hover {
	color: white;
	text-decoration: none;
}
/* About Section */
.about-header {
	font-size: 3.5em;
	white-space: nowrap;
}
#about {
	background-repeat: no-repeat;
	background-size: cover;
	font-family: 'Roboto', sans-serif;
	color: #FFFFFF;
	padding: 15% 36% 50px 15%;
	background-color: #140021;
	line-height: 2;
}
.tagline {
	margin-top: 20px;
	font-size: 1.4em;
}
/* Technologies Section */
.technologies-more {
	display: none;
	font-size: 0.8em;
	padding: auto;
	flex-direction: row;
	align-items: center;
	height: 100vh;
	padding: 0 100px;
}
.technologies-more .card .card-body {
	margin: 15px;
}
.technologies-more .card .card-body a {
	text-align: right;
	cursor: pointer;
}

#default-technologies {
	display:flex;
	align-items: center;
	height:100vh;
}
#technologies {
	background: gray;
	padding:0 14%;
	font-family: 'Roboto', sans-serif;
	background-size: cover;
}
#sensor-tech-card {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	padding: 20px;
	height: 70vh;
	margin: 0 50px;

}
#magnetic-imaging-card {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	padding: 20px;
	height: 70vh;
	margin: 0 50px;
}
.card-body {
	font-size: 1.6em;
}
.card-title {
	font-size: 1.8em;
	letter-spacing: -0.09em;
	white-space: nowrap;
}
.card-body .btn {
	background: #580060;
	color: white;
	margin: 0 30%;
	white-space: nowrap;
	height: 55px;
	min-width: 160px;
	text-align: center;
	line-height: 50px;
	font-size: 1em;
}
.card-body .btn:hover {
	background: #2e0033;
	color: white;
}
/* benefits */
#more-benefits-text {
	display: none;

}
#benefits hr {
	width:100%;
	display: none;
}
#benefits {
	padding: 6% 10% 0 6%;
	font-family: 'Roboto', sans-serif;
	background: white;
	background-size: 100vw 100vh;
	font-weight: normal;
}
.text-row {
	text-align: justify;
	line-height: 25px;
	margin-left: 10%;
	margin-right: 8%;
	font-size: 1.5em;
	line-height: 1.4em;
	font-family: 'Roboto', sans-serif;
}
.benefits-list {
	margin: 10% 5% 10% 0;
}
.benefits-list li {
	list-style: none;
	padding: 1em 0;
	font-size: 1.5em;
	text-align: right;
	cursor: pointer;
}
.benefits-list li img {
	width: 35px;
}
.header {
	margin-left: 10%;
	color: rgb(56, 96, 0);
	font-weight: bold;
}
.more {
	color: #580060;
	font-weight: 700;
	cursor: pointer;
}
.benefits_container {
	margin: 5%;
}
.text-column {
	text-align: left;
	line-height: 1.5em;
	margin: 15% 15% 10% 1%;
	text-indent: 0px;
	font-size: 2.2em;
	border-left: 10px solid rgba(56, 96, 0, 0.7);
	padding-left: 15px;
}

.text-column-small {
	color: black;
	font-weight: normal;
	font-size: 0.8em;
	white-space: normal;
	width: 100%;
	display: none;
}
/* Team */
.linkedin-link {
	font-size: 0.8em;
	color:#4875B4;
}
.linkedin-link:hover {
	text-decoration:none;
	color:#4875B4;
}
.team-header {
		color: white;
		width: 240px;
}
#team {
	background: #100016;
	padding: 5% 3% 0 8%;
}

#core-team-option {
	padding-top: 3%;
}
#advisory-board-option {
	display: flex;
	padding-top: 3%;
}
.team-subheader h3 {
	color: rgb(56, 96, 0);
	padding-left: 10px;
	padding-right: 10px;
	width: wrap;
}
.team-subheader {
	padding-top:30px;
	position:relative;
	display:inline-block;
}

.member-info {
	color: white;
	font-size: 1.4em;
}

.team-name {
	padding-top: 20px;
}
.member-img {
	width: 120px;
	height: 120px;
	display: block;
	border-radius: 50%;
}
/* news & publications */
#news-preview {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items:center;
	height: 45vh;
	margin: 0 15%;
}
#publications-preview {
	display:flex;
	flex-direction:column;
	justify-content: space-around;
	height: 30vh;
	margin: 0 15%;
}
.publications-preview-item {
		font-size: 1.3em;
		color:black;
		font-weight: bold;
}

.publications-preview-item:hover {
	text-decoration: none;
	color: #580060;
}
#publications-news {
	padding-top: 80px;
	background-color: white;
	font-family: 'Roboto', sans-serif;
}
.expand-view-link {
		margin: 0 15%;
		display: flex;
		justify-content: flex-end;
		font-size: 1.5em;
		color: #580060;
		font-weight: bold;
}
.expand-view-link:hover {
	text-decoration: none;
	color: #580060;
}
.expand-view-image {
  	margin-top: 5px;
		height: 20px;
		margin-left: 10px;
}
.publications-item-image {
		height: 20px;
		align-self: center;
		margin-left: 10px;
}
.news-logo {
	width: 80px;
	height: 40px;
}
#news-date {
		top: 30px;
		left: -59px;
}
.news-preview-item h3 {
	color:  rgb(56, 96, 0);
	font-size: 0.8em;
	top: 55px;
	position:absolute;
	left: -85px;
	transform: rotate(-90deg);
	font-weight: bold;
}
.news-preview-item {
	cursor: pointer;
	position:relative;
	font-weight: bold;
	font-size: 1.4em;
	line-height: 1.4;
	width: 25%;
	height: 38%;
	border-left: solid rgba(56, 96, 0, 0.7) 5px;
	padding-left: 10px;
}

.contact-container {
	display:flex;
	justify-content: center;
	align-items: center;
	height:100vh;
	background: #1d3300;
	color: white;
}
.contact-info-container {
	display:flex;
	flex-direction:column;
	justify-content: center;
	padding-left: 30px;
	white-space: nowrap;

}

.footer-header {
	padding: 0 5% 5% 0;
	color: white;
}
#map {
	border-radius: 5px;
	background: black;
	height: 500px;
	width: 600px;
}
.contact-info {
	font-weight: 300;
	line-height: 1.5em;
	padding: 0 5% 5% 0;
	font-size: 2em;
	font-family: 'Roboto', sans-serif;
}
.copyright {
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
	color: black;
	font-weight: normal;
	letter-spacing: 2px;
	font-family: 'Roboto', sans-serif;
}
/* Mobile landscape*/
@media (max-height: 374px) {

	hr {
		margin: 20px 0!important;
	}
	/* team */
	.team-name {
		font-size: 0.9em!important;
	}
	.team-text {
		font-size: 0.7em!important;
	}
	.member-img {
		width: 70px!important;
		height: 70px!important;
	}
	/* about */
	.about-header {
		font-size: 1.4em!important;
		padding-top: 50px!important;
	}
	#about {
		padding: 0 4% 1px 4%!important;
		line-height: 1.1;
	}
	.tagline {
		font-size: 1.2em;
	}
	/* benefits */
	.text-row {
		font-size: 0.8em!important;
	}
	.header {
		margin: 0;
		padding-top: 10px!important;
	}
	.benefits-list li {
		font-size: 1em!important;
		margin: 0;
	}
	/* navigation */
	.sidebar a {
		padding: 10px 8px 5px 32px;
		font-size: 14px;
	}
	nav {
		padding-top:0!important;
		margin-top: 60px!important;
	}
	.logo {
		height: 50px;
		width: 50px;
		margin: 4px 0 0 0;
	}
	.openbtn {
		font-size: 36px;
		margin:0;
		padding: 0 10px;
	}
	/* publications and news */
	.news-preview-item {
		height: 35%!important;
		font-size: 1em!important;
	}
	.expand-view-link {
		font-size: 1.1em;
	}
	#publications-news {
		padding-top: 30px!important;
	}
	#news-preview {
		flex-direction: column;
		margin: 0 4%;
		font-size: 0.8em;
	}
	#publications-preview {
		margin: 0 4%;
		font-size: 0.8em;
	}

	/* contact us*/
	.contact-info {
		font-size: 1em;
	}
	.contact-container {
		flex-direction: row!important;
		align-items: center!important;
	}
	.contact-info-container {
		padding-left: 20px!important;
		font-size: 0.95em;
	}
	#map {
		height: 150px!important;
		width: 200px!important;
	}
}
/* Mobile landscape*/
@media (min-height: 375px) and (max-height: 414px) {

	/* team */
	.team-name {
		font-size: 0.9em!important;
	}
	.team-text {
		font-size: 0.7em!important;
	}
	.member-img {
		width: 70px!important;
		height: 70px!important;
	}
	/* benefits */
	.text-row {
		font-size: 1em!important;
	}
	hr {
		margin: 20px 0!important;
	}
	.header {
		margin: 0;
		padding-top: 10px!important;
	}
	.benefits-list li {
		font-size: 1em!important;
		margin: 0;
	}
	/* about */
	.about-header {
		font-size: 1.4em!important;
		padding-top: 100px!important;
	}
	#about {
		padding: 0 4% 50px 4%!important;
		line-height: 1.3;
	}
	.tagline {
		font-size: 1.2em;
	}
	/* navigation */
	.sidebar a {
		padding: 10px 8px 5px 32px;
		font-size: 14px;
	}
	nav {
		padding-top:0!important;
		margin-top: 60px!important;
	}
	.logo {
		height: 50px;
		width: 50px;
		margin: 4px 0 0 0;
	}
	.openbtn {
		font-size: 36px;
		margin:0;
		padding: 0 10px;
	}
	/* publications and news */
	.news-preview-item {
		height: 35%!important;
		font-size: 1em!important;
	}
	.expand-view-link {
		font-size: 1.1em;
	}
	#publications-news {
		padding-top: 30px!important;
	}
	#news-preview {
		flex-direction: column;
		margin: 0 4%;
		font-size: 0.8em;
	}
	#publications-preview {
		margin: 0 4%;
		font-size: 0.8em;
	}
		/* contact us*/
	.contact-info {
		font-size: 1.2em;
	}
	.contact-info-container {
		padding-left: 20px!important;
		font-size: 0.95em;
	}
	.contact-container {
		flex-direction: row!important;
		align-items: center!important;
	}
	#map {
		height: 200px!important;
		width: 250px!important;
	}
}

/* Mobile */
@media (max-width: 320px) {
	/* navigation */
	.sidebar a {
		padding: 10px 8px 5px 32px;
		font-size: 18px;
	}
	.logo {
		height: 50px;
		width: 50px;
		margin: 4px 0 0 0;
	}
	.openbtn {
		font-size: 36px;
		margin:0;
		padding: 0 10px;
	}
	/* about */
	.about-header {
		font-size: 1.5em;
		white-space: normal;

	}
	#about {
		background-position: center;
		padding: 15% 4% 50px 4%;
		line-height: 1.5;
	}
	.tagline {
		font-size: 1em;
	}
	/* technologies */
	#technologies {
		display:none;
	}

	/* benefits */

	.text-row {
		margin-left: 4%;
		margin-right: 4%;
		font-size: 1em;
		line-height: 1.3;
		text-align: left;
		font-weight: 400;
		font-family: 'Roboto', sans-serif;
	}
	.header {
		margin: 0;
		padding-top: 30px;
		padding-left: 4%;
		padding-bottom: 20px;
	}

	.benefits-list {
		margin:0;
		padding-left:0;
		padding-bottom: 20px;

	}
	.benefits-list li {
		font-family: 'Roboto', sans-serif;
		padding: 15px 5px;
		font-size: 1.1em;
		text-align: right;
		margin: 0;
		width: 300px;
	}
	.benefits-list li img {
		width: 30px;
	}

	#benefits {
		padding:0;
	}
	.benefits_container {
		margin: 0;
	}
	.text-column {
		display: none;
	}
	.text-column-small {
		display: block;
		text-align: right;
		font-size: 1em;
	}
	/* team */
	.team-subheader {
		padding:0;
	}
	.team-header {
		padding-left: 4%;
		padding-top: 30px;
	}
	.member-info {
		font-size: 1.2em;
	}
	.team-name {
		font-size: 1.2em;
	}
	#team {
		padding:0;
	}

	.member-img {
		width: 90px;
		height: 90px;
	}
	/* publications and news */
	.news-preview-item {
		width:100%;
		margin-bottom: 5px;
		height: 29%;
		font-size: 1.2em;
		line-height: 1.2;
	}
	.expand-view-link {
		font-size: 1.1em;
	}
  #publications-news {
		padding-top: 50px;
	}
	#news-preview {
		flex-direction: column;
		margin: 0 4%;
		font-size: 0.8em;
	}
	#publications-preview {
		margin: 0 4%;
		font-size: 0.8em;
	}
	.news-preview-item img {
		display: none;
	}
	.news-preview-item h3 {
		top: 0;
		position:relative;
		left: 0;
		transform: rotate(0deg);
	}
	#news-date {
			top: 0;
			left: 0;
	}
	/* contact us*/
	.contact-info {
		font-size: 1.3em;
	}
	.contact-container {
		flex-direction: column-reverse;
		align-items: flex-start;
			padding:0 0 0 4%;
	}
	.contact-info-container {
		justify-content: flex-start;
		padding:0;
		white-space: normal;
		font-size: 0.95em;
	}
	.footer-header {
		padding:0 0 10px 0;
		margin:0;
	}
	#map {
		height: 200px;
		width: 300px;
	}
}
/* Mobile Iphone 6/7/8 X */
@media (min-width: 321px) and (max-width: 375px) {

		/* navigation */
		.sidebar a {
			padding: 10px 8px 15px 32px;
			font-size: 21px;
		}
		.logo {
			height: 50px;
			width: 50px;
			margin: 4px 0 0 0;
		}
		.openbtn {
			font-size: 36px;
			margin:0;
			padding: 0 10px;
		}
		/* about */
		.about-header {
			font-size: 1.6em;
			white-space: normal;
			padding-top: 20%;
		}
		#about {
			background-position: center;
			padding: 0 4% 1px 4%;
			line-height: 1.9;
		}
		.tagline {
			font-size: 1.2em;
		}
		/* technologies */
		#technologies {
			display:none;
		}

		/* benefits */
		.text-row {
			margin-left: 4%;
			margin-right: 4%;
			font-size: 1em;
			line-height: 1.3;
			text-align: left;
			font-weight: 400;
			font-family: 'Roboto', sans-serif;
		}
		.header {
			margin: 0;
			padding: 10px 0 10px 4%;
		}

		.benefits-list {
			margin:0;
			padding-left:0;
			padding-bottom: 20px;
		}
		.benefits-list li {
			font-family: 'Roboto', sans-serif;
			padding: 15px 5px;
			font-size: 1.1em;
			text-align: right;
			margin: 0;
			width: 300px;
		}
		.benefits-list li img {
			width: 30px;
		}

		#benefits {
			padding: 0;
		}
		.benefits_container {
			margin: 0;
		}
		.text-column {
			display: none;
		}
		.text-column-small {
			display: block;
			text-align: right;
			font-size: 1em;
		}
		/* team */
		.team-subheader {
			padding:0;
		}
		.team-header {
			padding-left: 4%;
			padding-top: 30px;
		}
		.member-info {
			font-size: 1.2em;
		}
		.team-name {
			font-size: 1.2em;
		}
		#team {
			padding:0;
		}

		.member-img {
			width: 90px;
			height: 90px;
		}
		/* publications and news */
		.news-preview-item {
			width:100%;
			margin-bottom: 5px;
			height: 29%;
			font-size: 1.2em;
			line-height: 1.2;
		}
		.expand-view-link {
			font-size: 1.1em;
		}
	  #publications-news {
			padding-top: 50px;
		}
		#news-preview {
			flex-direction: column;
			margin: 0 4%;
			font-size: 0.8em;
		}
		#publications-preview {
			margin: 0 4%;
			font-size: 0.8em;
		}
		.news-preview-item img {
			display: none;
		}
		.news-preview-item h3 {
			top: 0;
			position:relative;
			left: 0;
			transform: rotate(0deg);
		}
		#news-date {
				top: 0;
				left: 0;
		}
		/* contact us*/
		.contact-info {
			font-size: 1.3em;
		}
		.contact-container {
			flex-direction: column-reverse;
			align-items: flex-start;
				padding:0 0 0 4%;
		}
		.contact-info-container {
			justify-content: flex-start;
			padding:0;
			white-space: normal;
			font-size: 0.95em;
		}
		.footer-header {
			padding:0 0 10px 0;
			margin:0;
		}
		#map {
			height: 216px;
			width: 340px;
		}
}
@media (min-width: 376px)and (max-width: 499px)  {
	/* navigation */
	.sidebar a {
		padding: 10px 8px 15px 32px;
		font-size: 21px;
	}
	.logo {
		height: 50px;
		width: 50px;
		margin: 4px 0 0 0;
	}
	.openbtn {
		font-size: 36px;
		margin:0;
		padding: 0 10px;
	}
	/* about */
	.about-header {
		font-size: 1.6em;
		white-space: normal;
			padding-top: 20%;

	}
	#about {
		background-position: center;
		padding: 0 4% 1px 4%;
		line-height: 1.9;
	}
	.tagline {
		font-size: 1.3em;
	}
	/* technologies */
	#technologies {
		display:none;
	}

	/* benefits */
	.text-row {
		margin-left: 4%;
		margin-right: 4%;
		font-size: 1em;
		line-height: 1.3;
		text-align: left;
		font-weight: 400;
		font-family: 'Roboto', sans-serif;
	}
	.header {
		margin: 0;
		padding: 10px 0 10px 4%;
	}

	.benefits-list {
		margin:0;
		padding-left:0;
		padding-bottom: 20px;
	}
	.benefits-list li {
		padding: 15px 0;
		font-size: 1.1em;
		text-align: right;
		margin: 0;
	}
	.benefits-list li img {
		width: 30px;
	}

	#benefits {
		padding: 0;
	}
	.benefits_container {
		margin: 0;
	}
	.text-column {
		display: none;
	}
	.text-column-small {
		display: block;
		text-align: right;
		font-size: 1em;
	}
	/* team */
	.team-subheader {
		padding:0;
	}
	.team-header {
		padding-left: 4%;
		padding-top: 30px;
	}
	.member-info {
		font-size: 1.2em;
	}
	.team-name {
		font-size: 1.2em;
	}
	#team {
		padding:0;
	}

	.member-img {
		width: 90px;
		height: 90px;
	}
	/* publications and news */
	.news-preview-item {
		width:100%;
		margin-bottom: 5px;
		height: 29%;
		font-size: 1.2em;
		line-height: 1.2;
	}
	.expand-view-link {
		font-size: 1.1em;
	}
	#publications-news {
		padding-top: 50px;
	}
	#news-preview {
		flex-direction: column;
		margin: 0 4%;
		font-size: 0.8em;
	}
	#publications-preview {
		margin: 0 4%;
		font-size: 0.8em;
	}
	.news-preview-item img {
		display: none;
	}
	.news-preview-item h3 {
		top: 0;
		position:relative;
		left: 0;
		transform: rotate(0deg);
	}
	#news-date {
			top: 0;
			left: 0;
	}
	/* contact us*/
	.contact-info {
		font-size: 1.3em;
	}
	.contact-container {
		flex-direction: column-reverse;
		align-items: flex-start;
			padding:0 0 0 4%;
	}
	.contact-info-container {
		justify-content: flex-start;
		padding:0;
		white-space: normal;
		font-size: 0.95em;
	}
	.footer-header {
		padding:0 0 10px 0;
		margin:0;
	}
	#map {
		height: 216px;
		width: 340px;
	}
}

/* Tablets */
@media (min-width: 500px) and (max-width: 1023px) {
	/* publications and news */
	.news-preview-item {
		width:100%;
		margin-bottom: 5px;
		height: 25%;
		font-size: 1.3em;
	}
	#publications-news {
		padding-top:100px;
	}
	#news-preview {
		flex-direction: column;
	}
	.news-preview-item img {
		display: none;
	}
	.news-preview-item h3 {
		top: 0;
		position:relative;
		left: 0;
		transform: rotate(0deg);
	}
	#news-date {
			top: 0;
			left: 0;
	}

	/* technologies */
	.technologies-more {
		font-size: 0.7em;
		padding: 50px;
		height: auto;
	}
	.card-title {
		white-space: normal;
	}
	#sensor-tech-card {
		padding: 0px;
		margin: 50px 65px;
		height:auto;
	}
	#magnetic-imaging-card {
		padding: 0px;
		margin: 50px 65px;
		height:auto;
	}
	.card-body {
		font-size: 1.5em;
	}

	#technologies {
		padding: 0 0.5%;
	}
	#default-technologies {
		height:auto;
	}
	.card-body .btn {
		margin: 0 auto;
	}
	/* contact us */
	.contact-container {
		flex-direction: column-reverse;
		align-items: flex-start;
		padding-left:15%;
	}
	.contact-info-container {
		justify-content: flex-start;
		padding:0;
	}
	#map {
		height: 350px;
		width: 500px;
	}

	/* Benefits */
	#benefits {
		padding: 0;
		margin:0;
	}
	#benefits hr {
		margin: 20px 4%;
		display: block;
	}
	.benefits-list {
		padding:0;
		margin:0 4%;
	}
	.benefits-list-outer {
		padding:0!important;
	}
	.text-row {
		font-size: 1.4em;
		text-align: left;
		margin: 0 4%;
	}
	.text-column {
		display: none;
	}
	.text-column-small {
		display: block;
		text-align: left;
		font-size: 0.9em;
	}
	.benefits-list li {
		padding: 0 0 20px 0;
		font-size: 1.6em;
		text-align: left;
		white-space: normal;
	}
	.header {
		margin:0;
		padding: 100px 0 0 4%;
	}
  /* About */
	#about {
		padding: 0 20% 1px 10%;
	}
	.about-header {
		font-size: 2.7em;
		white-space: normal;
		padding-top: 23%;
	}
	/* team */
	.team-header {
		padding-top: 70px;
		margin:0;
	}
	.team-subheader {
		padding-bottom: 20px;
	}
	.team-name {
		font-size: 1em;
	}
	.team-text {
		font-size: 0.9em;
	}
	.member-img {
		width: 130px;
		height:130px;
	}
	#team {
		padding:0 4%;
	}

}
/* Ipad Pro */
@media (min-width: 1024px) and (max-width: 1100px) {
	.news-preview-item {
		width:100%;
		margin-bottom: 5px;
		height: 20%;
		font-size: 1.4em;

	}

	#news-preview {
		flex-direction: column;
	}
	.news-preview-item img {
		display: none;
	}
	.news-preview-item h3 {
		top: 0;
		position:relative;
		left: 0;
		transform: rotate(0deg);
	}
	#news-date {
			top: 0;
			left: 0;
	}
	/* technologies */
	.technologies-more {
		font-size: 0.7em;
		padding: 50px;
		height: auto;
	}
	.card-title {
		white-space: normal;
	}
	#sensor-tech-card {
		padding: 0px;
		margin: 50px 65px;
		height:auto;
	}
	#magnetic-imaging-card {
		padding: 0px;
		margin: 50px 65px;
		height:auto;
	}
	.card-body {
		font-size: 1.5em;
	}

	#technologies {
		padding: 0 0.5%;
	}
	#default-technologies {
		height:auto;
	}
	.card-body .btn {
		margin: 0 auto;
	}
	/* contact us */
	.contact-container {
		flex-direction: column-reverse;
		align-items: flex-start;
		padding-left:15%;
	}
	.contact-info-container {
		justify-content: flex-start;
		padding:0;
	}
	#map {
		height: 350px;
		width: 500px;
	}

	/* Benefits */
	#benefits {
		padding: 0;
	}
	.benefits-list {
		margin:0;
		padding-top: 40px;
	}
	.text-row {
		font-size: 1.4em;
		text-align: left;
		margin:0 5%;
	}
	.text-column {
		display: none;
	}
	.text-column-small {
		display: block;
		text-align: left;
		font-size: 1em;
	}
	.benefits-list li {
		padding: 15px 0;
		font-size: 1.6em;
		text-align: left;
		white-space: normal;
	}
	.header {
		margin-left: 5%;
		padding-top: 70px;
	}
	/* About */
	#about {
		padding: 0 20% 1px 10%;
	}
	.about-header {
		font-size: 2.7em;
		white-space: normal;
		padding-top: 25%;
	}
	.tagline {
		font-size: 1.7em;
	}
	/* team */
	#team {
		padding-top:0;
	}
	.team-header {
		padding-top: 70px;
	}
	.team-subheader {
		padding-bottom: 20px;
	}
	.team-name {
		font-size: 1.2em;
	}
	.team-text {
		font-size: 1em;
	}
	.member-img {
		width: 150px;
		height:150px;
	}
}
/* Small Desktops */
@media (min-width: 1101px) and (max-width: 1199px) {
	/* publications and news */
	.news-preview-item {
		width:100%;
		margin-bottom: 10px;
		height:auto;

	}

	#news-preview {
		flex-direction: column;

	}
	.news-preview-item img {
		display: none;
	}
	.news-preview-item h3 {
		top: 0;
		position:relative;
		left: 0;
		transform: rotate(0deg);
	}
	#news-date {
			top: 0;
			left: 0;
	}
	/* contact us */
	.contact-container {
		flex-direction: column-reverse;
		align-items: flex-start;
		padding-left: 30%;

	}
	.contact-info-container {
		justify-content: flex-start;
		padding:0;
	}
	/* technologies */
	.technologies-more {
		font-size: 0.7em;
	}
	#sensor-tech-card {
		padding: 20px;
		margin: 50px 200px;
	}
	#magnetic-imaging-card {
		padding: 20px;
		margin: 50px 200px;
	}
	.card-body {
		font-size: 1.8em;
	}
	#technologies {
		padding: 0 1%;
	}
	#default-technologies {
		height:auto;
	}
	.card-body .btn {
		margin: 0 25%;
	}
	/* benefits */
	.benefits_container {
		margin: 2%;
	}
	.text-row {
		font-size: 1.1em;
	}
	.text-column {
		display: none;
	}
	.text-column-small {
		display: block;
		text-align: left;
	}
	.benefits-list {
		text-align: left;
	}
	.benefits-list li {
		padding: 0.88em 0;
		font-size: 1.5em;
		text-align: left;
	}
	.benefits-list li img {
		width: 25px;
	}
	/* About */
	#about {
		padding: 20% 20% 50px 15%;
	}

	/* team */
	.member-info {
		padding: 0px;
	}

	.member-img {
		width: 100px;
		height: 100px;
	}
	.team-name {
		font-size: 0.9em;
	}
	.team-text {
		font-size: 0.8em;
	}
	.team-caption {
		margin: 70px 0 0 0;
	}
}
/* Bigger Desktops */
@media (min-width: 1200px) and (max-width: 1450px) {
	/* publications and news */
	.news-preview-item {
		height: 43%;
		font-size: 1.30em;
		line-height: 1.30;

	}
	/*technologies */
	.technologies-more {
		font-size: 0.7em;
	}
	#sensor-tech-card {
		padding: 5px 10px;
		margin: 0 20px;
	}
	#magnetic-imaging-card {
		padding: 5px 10px;
		margin: 0 20px;
	}
	.sensor-tech-card {
		font-size: 0.75em;
	}
	.magnetic-imaging-card {
		font-size: 0.75em;
	}
	#technologies {
		padding: 0 5%;
	}
	.card-title {
		white-space: normal;
	}
	/* Benefits */
	.benefits-list li {
		padding: 1em 0;
		font-size: 1.5em;
	}
	.text-row {
		font-size: 1.1em;
	}
	.text-column {
		font-size: 1.5em;
	}
	/* About */
	#about {
			padding: 20% 20% 50px 15%;
	}
}

/* Even Bigger Desktops */
@media (min-width: 1451px) and (max-width: 1800px) {
	/* publications and news */
	.news-preview-item {
		font-size: 1.35em;
		line-height: 1.35;
	}
	/* Technologies */
	#technologies {
		padding:0 6%;
	}
	#sensor-tech-card {
		padding: 20px 10px;
	}
	#magnetic-imaging-card {
		padding: 20px 10px;
	}

}
/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
	.sidebar {
		padding-top: 15px;
	}
	.sidebar a {
		font-size: 18px;
	}
}
