@charset "utf-8";
/* Body */
body {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	font-style: normal;
	font-weight: 200;
}
section {
	min-height: 100vh;
}
/* Navigation */
.sidebar {
	z-index: 2;
	height: 100%;
	width: 0;
	position: fixed;
	top: 0;
	right: 0;
	background-color: #111;
	overflow-x: hidden;
	transition: 0.5s;
	padding-top: 60px;
}
.sidebar a {
	padding: 20px 8px 20px 32px;
	text-decoration: none;
	font-size: 25px;
	color: #818181;
	display: block;
	transition: 0.3s;
}
.sidebar a:hover {
	color: #f1f1f1;
	text-decoration: none;
}
.sidebar .closebtn {
	position: absolute;
	top: 0;
	right: 25px;
	font-size: 36px;
	margin-left: 50px;
}
.openbtn {
	mix-blend-mode: exclusion;
	font-size: 30px;
	right: 0;
	top: 0;
	cursor: pointer;
	background-color: transparent;
	color: white;
	padding: 10px 15px;
	border: none;
	position: fixed;
	z-index: 1;
}
/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
	.sidebar {
		padding-top: 15px;
	}
	.sidebar a {
		font-size: 18px;
	}
}
.small-sidebar {
	visibility: collapse;
}
.logo {
	z-index: 2;
	border-radius: 50%;
	width: 50px;
	padding: 5px;
	position: fixed;
	top: 0;
	z-index: 1;
	margin: 10px;
}
nav {
	mix-blend-mode: exclusion;
	position: fixed;
	top: 0;
	z-index: 1;
	width: 100%;
	padding: 15px 50px;
}
header nav ul {
	list-style: none;
	float: right;
	position: relative;
}
nav ul li {
	color: black;
	font-size: 18px;
	transition: all 0.3s linear;
	display: inline;
	padding: 0 10px;
	font-family: 'Khula', sans-serif;
}
ul li a {
	color: white;
	text-decoration: none;
}
ul li a:hover {
	color: white;
	text-decoration: none;
}
/* Hero Section */
.hero_header {
	color: #FFFFFF;
	text-align: left;
	margin-top: 15%;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 5%;
	letter-spacing: 4px;
}
.hero {
	background-repeat: no-repeat;
	background-size: cover;
	font-family: 'Khula', sans-serif;
	padding-top: 200px;
	padding-bottom: 100px;
}
.tagline {
	text-align: left;
	color: #FFFFFF;
	margin-top: 1%;
	font-weight: 300;
	letter-spacing: 1px;
	margin-left: 5%;
	margin-right: 40%;
	line-height: 1.6;
	font-size: 1.5em;
}
/* About Section */
#about {
	display: inline-block;
	background: black;
	padding: 10% 12%;
	font-family: 'Khula', sans-serif;
}
.sensor-tech-card {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	padding: 16px;
	background-color: #f1f1f1;
	height: 600px;
	margin: 20px 70px;
}
.magnetic-imaging-card {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	padding: 16px;
	background-color: #f1f1f1;
	height: 600px;
	margin: 20px 70px;
}
.magnetic-imaging-card img {
	max-height: 300px;
}
.card-body .btn {
	background: #580060;
	color: white;
	margin: 0 35%;
	white-space: nowrap;
}
.card-body .btn:hover {
	background: #2e0033;
	color:white;
}
/* benefits */
#benefits {
	padding: 6% 10% 6% 6%;
	font-family: 'Khula', sans-serif;
	background: white;
}
.text_row {
	text-align: justify;
	font-weight: lighter;
	line-height: 25px;
	margin-left: 10%;
	margin-right: 8%;
	color: #A3A3A3;
	font-size: 1.2em;
	line-height: 1.4em;
}
.benefits_list {
	margin: 10% 5% 10% 0;
}
.benefits_list li {
	list-style: none;
	padding: 1em 0;
	font-size: 1.2em;
	text-align: right;
	cursor: pointer;
}
.benefits_list li img {
	width: 35px;
}
.header {
	margin-left: 10%;
}
.more {
	color: #580060;
	font-weight: bold;
}
.benefits_container {
	margin: 5%;
}
.text_column {
	text-align: left;
	font-weight: lighter;
	line-height: 1.5em;
	margin: 15% 15% 10% 1%;
	color: #A3A3A3;
	text-indent: 0px;
	font-size: 1.3em;
}
.column {
	float: left;
	width: 50%;
}
.text-column-small {
	color: gray;
	font-weight: normal;
	font-size: 0.8em;
	white-space: normal;
	width: 100%;
	display: none;
}
/* Team */
.carousel {
	padding: 6% 0;
	background: #282528;
	font-family: 'Khula', sans-serif;
}
.member-info {
	padding: 25px;
	color: white;
	text-align: justify;
}
.first-member-info {
	margin: 20% 10% 20% 20%;
}
.team-name {
	text-align: center;
}
.member-img {
	width: 50%;
	margin: auto;
	display: block;
}
.middle-member-info {
	margin: 20% 15% 20% 15%;
}
.last-member-info {
	margin: 20% 20% 20% 10%;
}
/* More info */
.footer_column {
	width: 50%;
	text-align: center;
	padding-top: 30px;
	float: left;
}
.footer_banner {
	background-color: #fffdfc;
	padding: 13% 15% 10% 5%;
}
.footer-header {
	text-align: right;
	margin: 0 5% 5% 0;
}
#map {
	background: black;
	height: 500px;
	width: 600px;
}
.contact_info {
	text-align: right;
	font-weight: 300;
	line-height: 1.5em;
	margin: 0 5% 5% 0;
	font-size: 2em;
	font-family: 'Khula', sans-serif;
}
.copyright {
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
	color: black;
	background: gray;
	text-transform: uppercase;
	font-weight: lighter;
	letter-spacing: 2px;
	border-top-width: 2px;
}
/* Mobile */
@media (max-width: 320px) {
	/* benefits */
	.text_row {
		margin-left: 5%;
		margin-right: 5%;
		font-size: 1em;
		line-height: 1em;
	}
	.text_column {
		display: none;
	}
	.text-column-small {
		display: block;
		font-size: 1.2em;
	}
	.benefits_list li {
		padding: 0.88em 0;
		font-size: 1.3em;
	}
	/* about*/
	.sensor-tech-card {
		font-size: 0.80em;
	}
	.magnetic-imaging-card {
		font-size: 0.80em;
	}
	.card-body .btn {
		margin: 0 20%;
	}
	/* footer */
	#map {
		height: 250px;
		width: 330px;
		margin: 0 auto;
	}
	.contact_info {
		text-align: center;
		font-size: 1.2em;
	}
	.footer-header {
		text-align: center;
	}
	.footer_banner {
		background-color: #fffdfc;
		padding: 30% 5% 2% 5%;
	}
	/* team */
	.member-info {
		padding: 0px;
		font-size: 1em;
		overflow: hidden;
	}
	.first-member-info {
		margin: 8% 8% 3% 8%;
	}
	.member-img {
		width: 100px;
		height: 100px;
		corner-radius: 50%;
	}
	.middle-member-info {
		margin: 0 8% 3% 8%;
	}
	.last-member-info {
		margin: 0 8% 13% 8%;
	}
	.team-caption {
		margin: 70px 0 0 0;
	}
	.carousel {
		padding: 0px;
	}
	/* navigation*/
	.logo {
		width: 100%;
		text-align: center;
		margin-top: 13px;
		margin-right: 0px;
		margin-bottom: 0px;
		margin-left: 0px;
		border-radius: 50%;
	}
	.container header nav {
		margin-top: 0px;
		margin-right: 0px;
		margin-bottom: 0px;
		margin-left: 0px;
		width: 100%;
		float: none;
		display: none;
	}
	nav ul li {
		margin-top: 0px;
		margin-right: 0px;
		margin-bottom: 0px;
		margin-left: 0px;
		width: 100%;
		text-align: center;
	}
	.footer_column {
		width: 100%;
		margin-top: 0px;
	}
	.banner {
		background-color: #2D9AB7;
		background-image: none;
	}
	.hero_header {
		padding-left: 10px;
		padding-right: 10px;
		line-height: 22px;
		text-align: center;
	}
}
/* Small Tablets */
@media (min-width: 321px)and (max-width: 767px) {
	.logo {
		text-align: center;
		margin-top: 13px;
		margin-right: 0px;
		margin-bottom: 0px;
		margin-left: 0px;
		color: #043745;
	}
	.container header nav {
		margin-top: 0px;
		margin-right: 0px;
		margin-bottom: 0px;
		margin-left: 0px;
		width: 100%;
		float: none;
		overflow: auto;
		display: inline-block;
		background: #52bad5;
	}
	header nav ul {
		padding: 0px;
		float: none;
	}
	nav ul li {
		margin-top: 0px;
		margin-right: 0px;
		margin-bottom: 0px;
		margin-left: 0px;
		width: 100%;
		text-align: center;
		padding-top: 8px;
		padding-bottom: 8px;
	}
	.text_column {
		width: 100%;
		text-align: left;
		padding-top: 0px;
		padding-right: 0px;
		padding-bottom: 0px;
		padding-left: 0px;
	}
	.footer_column {
		width: 100%;
		margin-top: 0px;
	}
	.banner {
		padding-left: 20px;
		padding-right: 20px;
	}
	.footer_column {
		width: 100%;
	}
}
/* Smaller Desktops */
@media (min-width: 500px) and (max-width: 1100px) {
	.small-sidebar {
		visibility: visible;
	}
	header nav ul {
		visibility: collapse;
	}
	/* about */
	.sensor-tech-card {
		font-size: 0.85em;
	}
	.magnetic-imaging-card {
		font-size: 0.85em;
	}
	.card-body .btn {
		margin: 0 25%;
	}
	#about {
		display: inline-block;
		padding: 0;
	}
	/* Footer */
	#map {
		height: 300px;
		width: 400px;
		margin: 0 auto;
	}
	.contact_info {
		text-align: center;
		font-size: 1.4em;
	}
	.footer-header {
		text-align: center;
	}
	.footer_banner {
		background-color: #fffdfc;
		padding: 30% 10% 2% 15%;
	}
	/* Benefits */
	.text_column {
		display: none;
	}
	.text-column-small {
		display: block;
	}
	.benefits_list li {
		padding: 0.88em 0;
		font-size: 1.5em;
	}
	.tagline {
		margin-left: 10%;
		margin-right: 20%;
		line-height: 2.4;
		font-size: 0.9em;
	}
	.hero_header {
		margin-left: 10%;
	}
	/* team */
	.member-info {
		padding: 0px;
	}
	.first-member-info {
		margin: 8% 8% 3% 8%;
	}
	.member-img {
		width: 100px;
	}
	.middle-member-info {
		margin: 0 8% 3% 8%;
	}
	.last-member-info {
		margin: 0 8% 13% 8%;
	}
	.team-caption {
		margin: 70px 0 0 0;
	}
	.carousel {
		padding: 0px;
	}
}
/* Small Desktops */
@media (min-width: 1101px) and (max-width: 1200px) {
	.small-sidebar {
		visibility: visible;
	}
	header nav ul {
		visibility: collapse;
	}
	/* about */
	#about {
		display: inline-block;
		padding: 0 100px;
	}
	.card-body .btn {
		margin: 0 25%;
	}
	/* benefits */
	.benefits_container {
		margin: 2%;
	}
	.text_row {
		font-size: 0.95em;
	}
	.text_column {
		display: none;
	}
	.text-column-small {
		display: block;
	}
	.benefits_list li {
		padding: 0.88em 0;
		font-size: 1.5em;
	}
	.benefits_list li img {
		width: 25px;
	}
	.banner {
		margin-top: 0px;
		padding-top: 0px;
	}
	/* home */
	.tagline {
		margin-left: 10%;
		margin-right: 20%;
		line-height: 2.4;
		font-size: 1em;
	}
	.hero_header {
		margin-left: 10%;
	}
	/* team */
	.member-info {
		padding: 0px;
	}
	.first-member-info {
		margin: 8% 8% 3% 8%;
	}
	.member-img {
		width: 100px;
	}
	.middle-member-info {
		margin: 0 8% 3% 8%;
	}
	.last-member-info {
		margin: 0 8% 13% 8%;
	}
	.team-caption {
		margin: 70px 0 0 0;
	}
	.carousel {
		padding: 0px;
	}
}
/* Bigger Desktops */
@media (min-width: 1201px) and (max-width: 1450px) {
	/* navigation */
	.small-sidebar {
		visibility: visible;
	}
	header nav ul {
		visibility: collapse;
	}
	/*	about*/
	.sensor-tech-card {
		font-size: 0.9em;
	}
	.magnetic-imaging-card {
		font-size: 0.9em;
	}
	#about {
		display: inline-block;
		padding: 15% 2%;
	}
	/* Benefits */
	.benefits_list li {
		padding: 1em 0;
		font-size: 1em;
	}
	.text_row {
		font-size: 1em;
	}
	.text_column {
		font-size: 1em;
	}
	/* home */
	.tagline {
		margin-left: 7%;
		margin-right: 30%;
		line-height: 1.4;
		font-size: 1.3em;
	}
	.hero_header {
		margin-left: 7%;
	}
}
